n8n/workflows/01-pipeline-comercial.json
{
  "name": "Pipeline Comercial — Everest/FK's",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-0001-0001-0001-000000000001",
      "name": "Início",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Pin de dados de teste: [{\"cnpj\": \"30327128000125\"}]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/workflow-runs",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"workflowId\": \"pipeline-comercial\"}",
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000002",
      "name": "Registrar Início",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:3000/cnpj/{{ $('Início').first().json.cnpj }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "11111111-0001-0001-0001-000000000003",
      "name": "Consultar CNPJ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/leads/{{ $('Início').first().json.cnpj }}",
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000004",
      "name": "Salvar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:3000/leads/{{ $('Salvar Lead').first().json.id }}/proposta",
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000005",
      "name": "Buscar Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:3000/workflow-runs/{{ $('Registrar Início').first().json.id }}/concluir",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"status\": \"concluido\"}",
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000006",
      "name": "Concluir com Sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Início": {
      "main": [[{"node": "Registrar Início", "type": "main", "index": 0}]]
    },
    "Registrar Início": {
      "main": [[{"node": "Consultar CNPJ", "type": "main", "index": 0}]]
    },
    "Consultar CNPJ": {
      "main": [[{"node": "Salvar Lead", "type": "main", "index": 0}]]
    },
    "Salvar Lead": {
      "main": [[{"node": "Buscar Proposta", "type": "main", "index": 0}]]
    },
    "Buscar Proposta": {
      "main": [[{"node": "Concluir com Sucesso", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11111111-0001-0001-0001-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Início": [{"json": {"cnpj": "30327128000125"}}]
  },
  "staticData": null,
  "tags": []
}
