n8n/workflows/03-cron-certidoes.json
{
  "name": "Cron Certidões — Everest/FK's",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "33333333-0003-0003-0003-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/workflow-runs",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"workflowId\": \"cron-certidoes\"}",
        "options": {}
      },
      "id": "33333333-0003-0003-0003-000000000002",
      "name": "Registrar Início",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/certidoes/consultar-lote",
        "options": {
          "timeout": 600000
        }
      },
      "id": "33333333-0003-0003-0003-000000000003",
      "name": "Consultar Certidões Lote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3000/certidoes/alertas?dias=30",
        "options": {}
      },
      "id": "33333333-0003-0003-0003-000000000004",
      "name": "Buscar Alertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:3000/workflow-runs/{{ $('Registrar Início').first().json.id }}/concluir",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'concluido', resultado: { total: $('Consultar Certidões Lote').first().json.total, consultados: $('Consultar Certidões Lote').first().json.consultados, erros: $('Consultar Certidões Lote').first().json.erros.length, alertas: $('Buscar Alertas').first().json.length } }) }}",
        "options": {}
      },
      "id": "33333333-0003-0003-0003-000000000005",
      "name": "Concluir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:3000/workflow-runs/{{ $('Registrar Início').first().json.id }}/concluir",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'erro', resultado: { erro: $json.error?.message || 'Timeout ou falha ao consultar certidões em lote' } }) }}",
        "options": {}
      },
      "id": "33333333-0003-0003-0003-000000000006",
      "name": "Registrar Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Registrar Início", "type": "main", "index": 0}]]
    },
    "Registrar Início": {
      "main": [[{"node": "Consultar Certidões Lote", "type": "main", "index": 0}]]
    },
    "Consultar Certidões Lote": {
      "main": [
        [{"node": "Buscar Alertas", "type": "main", "index": 0}],
        [{"node": "Registrar Erro", "type": "main", "index": 0}]
      ]
    },
    "Buscar Alertas": {
      "main": [[{"node": "Concluir", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "33333333-0003-0003-0003-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "staticData": null,
  "tags": ["fase-3", "certidoes"]
}
